<h2>Edit Profile</h2>
<%= render "shared/error_messages", resource: @user %>

<%= form_with model: @user, local: true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :profile_image %>
    <%= f.file_field :profile_image %>
  </div>
  <div>
    <%= f.label :introduction %>
    <%= f.text_area :introduction, rows: 3 %>
  </div>
  <%= f.submit "Update User" %>
<% end %>