<div class="row">
  <aside class="col-md-3 text-center">
    <%= image_tag @user.get_profile_image(200,200), class: "img-fluid rounded mb-2" %>
    <h4><%= @user.name %></h4>
    <p class="text-muted"><%= @user.introduction %></p>
    <% if @user == current_user %>
      <%= link_to "Edit", edit_user_path(@user), class: "btn btn-outline-secondary btn-sm" %>
    <% end %>
  </aside>

  <section class="offset-md-1 col-md-8">
    <h3 class="mb-3">Books</h3>
    <ul class="list-group">
      <% @user.books.each do |b| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= link_to b.title, b %>
          <span class="badge badge-light"><%= b.user.name %></span>
        </li>
      <% end %>
    </ul>
  </section>
</div>