<div class="col-md-3">
  <h4 class="mb-3">User info</h4>
  <%= image_tag user.get_profile_image(150,150), class: "img-fluid rounded mb-3" %>

  <div class="d-flex justify-content-between py-1 border-bottom">
    <strong>name</strong>
    <span><%= user.name %></span>
  </div>

  <div class="d-flex justify-content-between py-1 border-bottom">
    <strong>introduction</strong>
    <span><%= user.introduction.presence %></span>
  </div>

  <%= link_to raw('<i class="fa-solid fa-user-gear mr-1"></i>'),
              edit_user_path(user),
              class: "btn btn-outline-secondary w-100 mt-3" %>

  <h4 class="mt-4 mb-3">New book</h4>

  <!-- ✅ error message -->
  <%= render "shared/error_messages", resource: book %>

  <%= form_with model: book, url: books_path, local: true do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :body, "Opinion" %>
      <%= f.text_area :body, rows: 4, class: "form-control" %>
    </div>
    <%= f.submit "Create Book", class: "btn btn-success w-100" %>
  <% end %>
</div>