<div class="row">
  <!-- Sidebar -->
  <%= render "shared/sidebar", user: @book.user, book: Book.new %>

  <!-- Book detail -->
  <section class="offset-md-1 col-md-8">
    <h3>Book detail</h3>
    <table class="table">
      <tr>
        <td style="width:120px">
          <%= image_tag @book.user.get_profile_image(100,100), class: "rounded" %>
          <%= link_to @book.user.name, @book.user %>
        </td>
        <td class="text-right align-middle" ><%= link_to @book.title, @book %></td>
        <td class="text-right align-middle" ><%= @book.body %></td>
        <td class="text-right align-middle" >
          <% if @book.user == current_user %>
            <%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %>
            <%= link_to "Destroy", @book, method: :delete,
                        data: { confirm: "Are you sure?" },
                        class: "btn btn-sm btn-danger" %>
          <% end %>
        </td>
      </tr>
    </table>
  </section>
</div>